#divToPrint {
  background-color: #ffffff;
  width: 297mm;
  min-height: 150mm;
  margin-left: auto;
  margin-right: auto;
}

.adi {
  width: 100%;
  height: 565px;
  border: 10px double orange;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 20px; */
}

.mem h2 {
  text-align: center;
  position: relative;
  top: 60px;
  /* display: flex; */
  color: orange;
  text-decoration: underline;
  font-style: normal;
  text-underline-position: under;
  font-size: 30px;
  font-weight: 600;
}
.red {
  margin: 18rem 3rem;
}

label {
  width: 120px;
  display: inline-block;
  font-size: 20px;
  color: rgb(248, 135, 6);
  font-weight: 100;
  right: 20px;
  font-style: normal;
}

input {
  border: none;
  width: "100px";
  padding: 2px;
  outline: none;
}

.new {
  border: none;
  outline: none;
  background-color: orange;
  width: 40%;
  font-size: 20px;
}
textarea {
  border: none;
  outline: none;
}

.logo-img {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
}

.logo-img #ani {
  margin: 60px 70px;
}

/* .print-btn {
  width: 30%;
  height: 4vmin;
  right: 1px;
} */

.print {
  background-color: orange;
  outline: none;
  border: none;
  width: 15%;
  height: 4vmin;
  margin: 200px;
  margin-top: 2rem;
  border-radius: 5px;
}
